[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
flask = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
server = "python server.py"
py = "ipython"
